<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd"
	default-lazy-init="true">


	

	<!-- 主写库 -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" >
		<property name="alias">
			<value>DBPool</value>
		</property>
		<property name="driver" value="${pool.driver}" />
		<property name="driverUrl" value="${pool.url}" />
		<property name="user" value="${pool.username}" />
		<property name="password" value="${pool.password}" />
		<property name="maximumConnectionCount" value="${pool.maximumConnectionCount}" />
		<property name="minimumConnectionCount" value="${pool.minimumConnectionCount}" />
		<property name="prototypeCount" value="${pool.prototypeCount}" />
		<property name="simultaneousBuildThrottle" value="${pool.simultaneousBuildThrottle}" />
		<property name="maximumActiveTime" value="${pool.maximumActiveTime}" />
		<property name="maximumConnectionLifetime" value="${pool.maximumConnectionLifetime}" />
	</bean>
	
	<bean id="sqlSessionFactory" class="com.lgl.common.BeanFactory">
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
  		<property name="dataSource" ref="dataSource"/>
  		<property name="mapperLocations">
   			 	<array>
      				<value>classpath*:com/lgl/**/*Mapper.xml</value>
    			</array>
  		</property>
  		<property name="typeAliasesPackage" value="com.lgl.bean"/>
  		<property name="plugins">
    	<array>
      		<bean class="com.github.pagehelper.PageHelper">		<!-- 通用分页配置 -->
       		 	<property name="properties">
          		<value>
            		dialect=mysql
            		reasonable=true
            		rowBoundsWithCount=true
            		pageSizeZero=true
          		</value>
        		</property>
      		</bean>
    	</array>
  		</property>
	</bean>
  <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lgl.db.mapper"/>
    </bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 注解方式配置事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	
</beans>